@{
    ViewBag.Title = "TestUpload";
}
<h2>TestUpload</h2>
<div class="panel panel-default">
    <div class="panel-title">
        <h2>单文件上传</h2>
    </div>
    <div class="panel-body">
        <div>
            <p>
                上传文件名：
                <span id="name"></span>
            </p>
            <p>    相对目录： <span id="relativeName"></span></p>
        </div>
        <div class="uploader uploader-success" id="uploadBtn"></div>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-title">
        <h2>前台图片压缩成大图、小图，然后上传</h2>
    </div>
    <div class="panel-body">
        <p>
            <div class="uploader uploader-warning" id="uploadBtn2"></div>
        </p>
        <div class="row">
        </div>
    </div>
</div>
<link href="~/assets/global/myplugins/Uploader/Uploader6.0.min.css" rel="stylesheet" />
<script src="~/assets/global/myplugins/Uploader/Uploader6.0.min.js"></script>
<script>
    /*******简单上传，后台自动处理，获取上传后台文件名+相对目录*******/
    var uploader = $('#uploadBtn').uploader({
        url: 'ws://@(Request.Url.Host):@(Request.Url.Port)/ajax/upload',
        text: '简单上传按钮',
        fileExts: 'rar;doc;docx;pdf;png;jpg;gif;gip',
        handleType: '0',
        debug:false,
        max: 1024 * 1204 * 10,
        onSuccess: function (data) {
            console.info(data);
            $('#name').text(data.newName);
            $('#relativeName').text(data.relativeName);
        }
    });
    /**大小图片前台处理，后台简单处理模式，上传成功后显示图片**/
    var uploader = $('#uploadBtn2').uploader({
        url: 'ws://@(Request.Url.Host):@(Request.Url.Port)/ajax/upload',
        fileExts: 'jpg;png',
        text: '大小图模式上传',
        more: true,//是否可以上传多个
        auto: true, //是否自动上传
        debug:false,
        type: 'imgdouble',
        minWidth: 100,
        minHeight: 100,
        maxWidth: 800,
        maxHeight: 600,
        handleType: '0',//对于大小图模式最好不要自动处理
        subfolder: 'upload/product',
        onSuccess: function (data) {
            //添加到列表,每个图片上传成功都会触发
            var row = $('.row');
            var col = $(' <div class="col-xs-6 col-md-3" />');
            var a = $('<a class="thumbnail" />');
            a.attr('href', data.big.relativeName);
            a.attr('title', '点击查看大图').attr('target', '_blank');
            a.append('<img src=' + data.small.relativeName + ' />');
            col.append(a);
            row.append(col);
        }
    });

</script>
