
@using Business
@using DataBase

@{
    ViewBag.Title = "提现记录";
    //获取当前登录用户
    Member_Info curUser = User_Shop.GetMember_Info();
    Layout = "~/Views/Shared/_LayoutPageMy0915.cshtml";
    var remit = DB.Fin_Draw.Where(a => a.MemberId == curUser.MemberId).OrderBy(a => a.DrawId);
}
<div class="container topBg">
    <!-- 头部导航 -->
    <div class="header" style="box-shadow: 0 0 10px rgba(1, 73, 206,.2);">
        <ul>
            <li class="header-left" onclick="GetIndex()">
                <i class="iconfont icon-fanhui"></i>
            </li>
            <li>提现记录</li>
            <li class="header-right">

            </li>
        </ul>
    </div>
    <ul class="withdrawDepositJlList">
        @foreach (var item in remit)
        {
            <li>
                <div>
                    <p class="bsft_bold">@item.CreateTime.Value.ToString("MM-dd HH:mm")</p>
                    <p class="bsclr_gay">
                        @if(item.DrawState=="已驳回")
                        {
                        <buttno style="background:#eae4e4" onclick="show('@item.Summary')">查看驳回理由</buttno> 
                        }

                    </p>
                    <p class="bsclr_red">@item.DrawState</p>
                </div>
                <div>
                    <p class="bsclr_gay data">提现金额:@item.DrawAmount</p>
                    <p class="bsclr_red procedure">手续费:@item.Poundage</p>
                    <p class=" bsclr_green">到账金额:@item.Amount</p>
                </div>
            </li>

        }

    </ul>

    <div class="bgColor"></div>
</div>