<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ShopName>智先锋商城</ShopName>
  <ShopLogo>/upload/images/201805/26/5852fa4f-e257-4c86-93b1-eb2090f095cf.png</ShopLogo>
  <ShopCompany>智先锋商城</ShopCompany>
  <ShopAddress>智先锋商城</ShopAddress>
  <ShopTel>0531-51234567</ShopTel>
  <ShopFax>0531-51234567</ShopFax>
  <ShopEmail>service@zhiqiang.com</ShopEmail>
  <ShopICP>鲁ICP备56654422号 </ShopICP>
  <ShopIsRunning>False</ShopIsRunning>
  <ShopCloseReason>网站维护中，请稍候访问……</ShopCloseReason>
  <ShopCopyright>Copyright 2016 zhiqiang.com</ShopCopyright>
  <ShopIndexTitle>51234567</ShopIndexTitle>
  <ShopIndexKeyword>51234567</ShopIndexKeyword>
  <ShopIndexDescription>51234567</ShopIndexDescription>
  <ShopStatisticalCode>1</ShopStatisticalCode>
  <QQ>1007173132</QQ>
  <WeiXin>/upload/weixin/201703/11/aded3bd0-42eb-44b2-b900-99a6eacdfb47.png</WeiXin>
  <TopBack>#ec124a</TopBack>
  <BottomBack>#ec124a</BottomBack>
  <GDSummary>首页滚动文字内容，需要超过30个字。首页滚动文字内容，需要超过30个字。</GDSummary>
  <Multiple>1</Multiple>
  <OnlineCount>-6</OnlineCount>
  <!--<Img_HY>/upload/weixin/201805/25/632e906a-5b5b-4980-9c78-70a6688e5edb.jpg</Img_HY>-->
  <!--<BaoYouAmount>100</BaoYouAmount>-->
  <!--<Img_BK>/upload/weixin/201805/25/674e1709-dd35-4ced-bc29-35ae909c24b5.jpg</Img_BK>
  <Img_HD>/upload/weixin/201802/24/5f7c8f67-ba44-4b8c-9eca-5b0d1eadb2f1.png</Img_HD>-->
  <Img_HY>/upload/weixin/201903/11/64c00a59-1609-46aa-9ae0-d885c00df0ba.png</Img_HY>
  <Img_BK>/upload/weixin/201903/11/242a40c6-518d-40af-96ef-cf9f2d461c6c.png</Img_BK>
  <BaoYouAmount>100</BaoYouAmount>
</siteconfig>