<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>会员办公系统</webname>
  <weburl>http://localhost:52252</weburl>
  <webcompany>安利中</webcompany>
  <ActiveFee>5</ActiveFee>
  <Multiple>100</Multiple>
  <MinAmount>100</MinAmount>
  <Poundage>3</Poundage>
  <DrawPoundage>10</DrawPoundage>
  <IsMiaoJie>True</IsMiaoJie>
  <webstatus>开启</webstatus>
  <webclosereason>&lt;p style="text-align: center;"&gt;w&lt;img src="http://img.baidu.com/hi/jx2/j_0015.gif"/&gt;&lt;span style="background-color: rgb(84, 141, 212);"&gt;维护中&lt;/span&gt;&lt;/p&gt;</webclosereason>
  <weblogo />
  <webaddress>广东深圳</webaddress>
  <webtel>13800138000</webtel>
  <webfax>-</webfax>
  <webmail>189818@qq.com</webmail>
  <webicp>ICP备11298号</webicp>
  <webtitle>公司平台</webtitle>
  <webkeyword>公司平台,</webkeyword>
  <webdescription>公司体的平台导航。</webdescription>
  <webcopyright>XX公司©版权所有  Copyright 2014 - 2020. . All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <mobilestatus>1</mobilestatus>
  <mobiledomain>wwm.net</mobiledomain>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webcountcode />
  <smsapiurl />
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <smsnickname>XX公司</smsnickname>
  <emailsmtp>smtp.163.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>tozhi@haanba.com</emailfrom>
  <emailusername>tozhi@haanba.com</emailusername>
  <emailpassword>8FA7FC77EE2C60839B1A7D581514353D</emailpassword>
  <emailnickname>XX公司</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,xlsx,docx,jpeg,mp3</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>102400</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>XX公司</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>MxWeiXinPF</sysencryptstring>
  <sysuser>7bc754d4-ade4-4f3c-bae6-93006d24e475</sysuser>
  <!--配置不能删除的系统用户-->
  <sysrole>1,2</sysrole>
  <!--配置不能删除的角色，逗号隔开-->
</siteconfig>