<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>会员办公系统</webname>
  <weburl>http://localhost:52249</weburl>
  <webcompany>会员办公系统</webcompany>
  <ActiveFee>5</ActiveFee>
  <Multiple>100</Multiple>
  <MinAmount>100</MinAmount>
  <Poundage>6</Poundage>
  <DrawPoundage>5</DrawPoundage>
  <IsMiaoJie>False</IsMiaoJie>
  <webstatus>开启</webstatus>
  <webclosereason>&lt;p style="text-align: center;"&gt;&lt;img src="http://img.baidu.com/hi/jx2/j_0015.gif"/&gt;&lt;span style="background-color: rgb(84, 141, 212);"&gt;维护中...&lt;/span&gt;&lt;/p&gt;</webclosereason>
  <sysuser>7bc754d4-ade4-4f3c-bae6-93006d24e475</sysuser>
  <!--配置不能删除的系统用户-->
  <sysrole>1,2</sysrole>
  <!--配置不能删除的角色，逗号隔开-->
  <NetType>2</NetType>
  <NetLayer>4</NetLayer>
  <FenHongBi>4</FenHongBi>
  <ShopName>商城12</ShopName>
  <ShopLogo>11</ShopLogo>
  <ShopCompany>sagagaga</ShopCompany>
  <ShopAddress>21</ShopAddress>
  <ShopTel>31</ShopTel>
  <ShopFax>41</ShopFax>
  <ShopEmail>51</ShopEmail>
  <ShopICP>61</ShopICP>
  <ShopIsRunning>True</ShopIsRunning>
  <ShopCloseReason>网站维护中，请稍候访问……1</ShopCloseReason>
  <ShopCopyright>Copyright 1</ShopCopyright>
  <ShopIndexTitle>商城首页1</ShopIndexTitle>
  <ShopIndexKeyword>商城关键字1</ShopIndexKeyword>
  <ShopIndexDescription>商城描述1</ShopIndexDescription>
  <ShopStatisticalCode>1</ShopStatisticalCode>
  <Reg_Score>0</Reg_Score>
  <Remit_Bei>100</Remit_Bei>
  <Remit_ScoreBei>10</Remit_ScoreBei>
  <Jing_HuZhu>10</Jing_HuZhu>
  <SZFH_TuanDui>50</SZFH_TuanDui>
  <SZFH_ZhiTui>10</SZFH_ZhiTui>
  <SZFH_Bi>5</SZFH_Bi>
  <LYJF_Money>10000</LYJF_Money>
  <CongXiao_Min>89</CongXiao_Min>
  <CongXiao_SQ>10</CongXiao_SQ>
  <CongXiao_Rem1>10</CongXiao_Rem1>
  <CongXiao_Rem2>5</CongXiao_Rem2>
  <BaoKuan_SQ>10</BaoKuan_SQ>
  <CX_SQ>5</CX_SQ>
  <CX_Rem1>5</CX_Rem1>
  <CX_Rem2>2.5</CX_Rem2>
  <CongXiao_In_Bi>10</CongXiao_In_Bi>
  <ScoreMultiple>0</ScoreMultiple>
  <Remit_Score>0</Remit_Score>
  <TourScoresStep>10000</TourScoresStep>
  <TourScores>1</TourScores>
  <ShopCoinsPercent>10</ShopCoinsPercent>
  <Lead_RecCount>10</Lead_RecCount>
  <SQDFH_Bi>5</SQDFH_Bi>
  <Lead_YeJi_List>{"1":"0","2":"50000","3":"80000","4":"170000","5":"570000","6":"1070000"}</Lead_YeJi_List>
  <TestAmount>0.01</TestAmount>
  <TDJPercent>5</TDJPercent>
  <BDServicePercent>5</BDServicePercent>
  <FXServicePercent>10</FXServicePercent>
  <Lead_Percent_List>{"1":"2","2":"3","3":"4","4":"6","5":"8","6":"10"}</Lead_Percent_List>
  <MinAmountHuZ>10</MinAmountHuZ>
  <DayMaxTotalAmountFlower>0</DayMaxTotalAmountFlower>
  <DrawName>1234560</DrawName>
  <IsJiHuo>True</IsJiHuo>
  <ReCount>15</ReCount>
  <SanCount>0</SanCount>
  <YinHang>123</YinHang>
  <ZT1>5</ZT1>
  <ZT2>5</ZT2>
  <ZT3>5</ZT3>
  <ZT4>5</ZT4>
  <ZT5>5</ZT5>
  <TD1>5</TD1>
  <TD2>5</TD2>
  <TD3>5</TD3>
  <TD4>5</TD4>
  <TD5>5</TD5>
  <Scores>321</Scores>
  <ZZP>2</ZZP>
  <GGP>1</GGP>
  <CZC>1</CZC>
  <ZGC>1</ZGC>
  <TuChuBiLi>4</TuChuBiLi>
  <DaiLiTuiJian>10</DaiLiTuiJian>
  <DaiLiJinTie>20000</DaiLiJinTie>
  <YinHangName>济南邮政</YinHangName>
  <YinHangBankName>张三</YinHangBankName>
  <DaiLiAmount>1000</DaiLiAmount>
</siteconfig>