
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/SysManage/Home/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">商城管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="/Admin_MallManage/GoodsManage/Index"><span>商品管理</span></a>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-newspaper-o"></i> 商品数据列表
                </div>
                <div class="tools">
                    <a style="color:white" onclick="ToExcel()" title="导出Excel"> <i class="fa fa-sign-out"></i>导出Excel </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <div class="table-toolbar col-md-3">
                        <div class="btn-group">
                            <a id="add" href="/Admin_MallManage/GoodsManage/Detail" class="btn green">
                                <i class="fa fa-plus"></i> 新建
                            </a>
                            <a id="delete" onclick="_deleteList()" class="btn red">
                                <i class="fa fa-trash-o"></i> 删除
                            </a>
                        </div>
                    </div>
                    <form class="form form-horizontal form-inline">
                        <fieldset>
                            <div class="text-right">
                                <div class="input-group col-md-4">
                                    <input type="text" class="form-control" placeholder="搜索关键字" id="keyword" />
                                    <span class="input-group-btn">
                                        <a class="btn btn-default" href="javascript:searchList();">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    
                </div>
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width:3%"><input type="checkbox" id='checkAll'></th>
                                <th>商品名称</th>
                                <th>类别</th>
                                <th>规格</th>
                                <th>市场价</th>
                                <th>零售价</th>
                                <th>库存数量</th>
                                <th>发布时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        var oTable;
        $(document).ready(function () {
            oTable = initTable();
            ///双击table行
            $(document).on("dblclick", "#datatable tbody tr", function () {
                var id = $(this).find("input[name='checkList']").val();
                window.location.href = "/Admin_MallManage/GoodsManage/Detail?id=" + id + "&type=1&commentForm=commentForm";
            });
        });

        /**
        * 表格初始化
        * returns {*|jQuery}
        */
        function initTable() {
            var table = $("#datatable").DataTable({
                dom: '<f<t>lip>',
                ordering: false,
                searching: false,
                serverSide: true,
                language: {
                    url: '/assets/global/plugins/DataTables-1.10.12/zh-CN.json'//汉化
                },
                ajax: {
                    url: '/Admin_MallManage/GoodsManage/getDataSource',
                    type: 'post',
                    data: function (e) {
                        return {
                            key: $("#keyword").val(),
                            start: e.start,
                            length: e.length,
                            draw: e.draw
                        }
                    }
                },   //异步加载数据
                columnDefs: [
                   { "searchable": false, "targets": 0 },//第一列禁用搜索
                   { "orderable": false, "targets": 0 }, //第一列禁用排序
                     { "searchable": false, "targets": 4 },//第一列禁用搜索
                   { "orderable": false, "targets": 4 }, //第一列禁用排序
                ],
                columns: [//绑定数据
                   {
                       data: "ProductId",
                       createdCell: function (nTd, sData, oData, iRow, iCol) {
                           $(nTd).html("<input type='checkbox' name='checkList' value='" + sData + "'>");
                       }
                   },
                   { data: 'ProductName' },
                   { data: 'CategoryName' },
                   { data: 'ModelName' },
                   { data: 'OriginalPrice' },
                   { data: 'SalePrice' },
                   { data: 'StockQty' },
                   { data: 'PubTime' },
                   { data: 'State' },
                   {
                       data: 'ProductId',
                       createdCell: function (nTd, sData, oData, iRow, iCol) {
                           $(nTd).html("<a href='/Admin_MallManage/GoodsManage/Detail/" + oData.ProductId + "' name='Edit' class='btn green btn-xs redd'><i class='fa fa-edit'></i> 编辑</a>&nbsp;")
                       }
                   }
                ],
                initComplete: function (settings, json) {
                    $("a[name='Edit']").css("visibility", $("#IsEdit").val());
                }
            });
            return table;
        }
        function searchList() {
            oTable.ajax.reload(null, false);
        }
        function ToExcel() {
            var href = "/Admin_MallManage/GoodsManage/ToExcel/商城商品列表?startTime=" + $("#start").val() + "&end=" + $("#end").val() + "&key=" + $("#keyword").val();
            window.open(href);
        }
    </script>
}
